body{
	margin:0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;

}
.contenido{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
}
.parafo{
	width: 85%;
	border-radius:8px;
	padding: 15px;
}
.contenido h1{
	margin-bottom: 8px;
}
.web, .correo,.me{
	font-weight:400;
}
.me{
	margin-top: 10px;
	margin-bottom: 1px;
}
.web{
	margin-top: 1px;
	margin-bottom:1px;
}
.correo {
	margin-top: 1px;
	margin-bottom: 10px;
}
.intro{font-weight: bold;}
.contenido:last-child{
	margin-bottom: 100px;
}
.references{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	border-radius:8px;
	padding: 15px;
}
.references p{
	margin-top: 8px;
	margin-bottom: 8px;
	width: 100%;
}
.references{
 
}
@media(max-width: 750px){
	.parafo{
		box-shadow: 0 2px 16px 0 rgba(0,0,0,0.10);
		width: 90%;
	}
	.references{
		box-shadow: 0 2px 16px 0 rgba(0,0,0,0.10);
		width: 90%;
	}
}